:root {
    --font-family-main: consolas, 'Courier New', monospace, serif;
    --font-size-m: 16px;
    --line-height-m: 24px;
    --font-main-m: var(--font-size-m) / var(--line-height-m) var(--font-family-main);
    --font-size-l: 24px;
    --line-height-l: 32px;
    --font-main-l: var(--font-size-l) / var(--line-height-l) var(--font-family-main);
    --font-size-xl: 32px;
    --line-height-xl: 40px;
    --font-main-xl: var(--font-size-xl) / var(--line-height-xl) var(--font-family-main);
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-collapse-width: 80px;

    // z-index
    --modal-z-index: 100;

    // colors
    --error-light-color: #c20000;
    --error-dark-color: #6e0000;
}
