.Button {
    cursor: pointer;
    color: var(--secondary-color);
    transition: 0.3s;
    padding: 10px 15px;
    border: none;
}

.Button:disabled {
    opacity: 0.7;
    pointer-events: none;
    cursor: default;
}

.Button:hover {
    background-color: var(--secondary-color);
    color: var(--bg-color);
}

.Button.hasBorder {
    border-radius: 8px;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    outline: none;
}

.clear:hover {
    background-color: transparent;
    color: var(--secondary-color);
}

.background {
    border: none;
    background-color: var(--bg-color);
}

.backgroundInverted {
    border: none;
    background-color: var(--inverted-bg-color);
}

.outline {
    border: 1px solid var(--secondary-color);
    background-color: transparent;
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--line-height-m);
    height: var(--line-height-m);
}

.square.size_l {
    width: var(--line-height-l);
    height: var(--line-height-l);
}

.square.size_xl {
    width: var(--line-height-xl);
    height: var(--line-height-xl);
}

.size_m {
    font: var(--font-main-m);
}

.size_l {
    font: var(--font-main-l);
}

.size_xl {
    font: var(--font-main-xl);
}
