.Sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    padding: 20px 10px;
    transition: width 0.3s;
    flex-shrink: 0;
    height: calc(100vh - var(--navbar-height));
}

.switchers {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.themeSwitcher {
    margin-right: 10px;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin-top: -15px;
    width: 100%;
}

.collapse {
    width: var(--sidebar-collapse-width);

    .switchers {
        flex-direction: column;
    }

    .themeSwitcher {
        margin-right: 0;
    }
}

.collapseBtn {
    position: absolute;
    bottom: 40px;
    left: 100%;
}
