.app.light {
    --bg-color: #dddddd;
    --inverted-bg-color: #03035f;
    --primary-color: #0e095f;
    --secondary-color: #006ab1;
    --inverted-primary-color: #075e07;
    --inverted-secondary-color: #00b100;
}