/* .articleDetail {

} */

.article-block {
    margin-bottom: 30px;
}

.avatar {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 200px;
    height: 200px;
}

.title {
    margin-bottom: 15px;
}

.skeleton {
    margin-bottom: 30px;
}

.iconWrap {
    display: flex;
    align-items: center;
    gap: 8px;
}
