.ProfileCard {
    border: 2px solid var(--inverted-bg-color);
    padding: 20px;
}

.profile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile_item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.isLoading,
.isError {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

/* .isError {
    flex-direction: column;
} */
