.copyButton {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;

    & path {
        stroke: var(--inverted-secondary-color);
    }
}

.code {
    padding: 20px;
    padding-right: 60px;
    color: var(--inverted-secondary-color);
    background-color: var(--inverted-bg-color);
    overflow: auto;
}

.codeWrap {
    position: relative;

    &:hover .copyButton {
        opacity: 1;
    }
}
